.element__like {
    width: 22px;
    height: 19px;
    overflow: hidden;
    padding: 0;
    background: #fff;
    border: 0;
    cursor: pointer;
    background-image: url(../../../images/Like.svg);
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url(../../../images/likeBlack.svg);
}