.profile__edit-button {
    width: 24px;
    height: 24px;
    background: #000;
    border: 1px solid #fff;
    background-image: url(../../../images/Vector\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    top: 15px;
}