.profile {
    max-width: 880px;
    margin: 0 auto 51px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .profile {
        max-width: 700px;
    }
}

@media screen and (max-width:767px) and (min-width:1px) {
    .profile {
        flex-direction: column;
        max-width: 282px;
        margin: 0 auto 36px auto;
    }
}