.header {
    max-width: 880px;
    height: 74px;
    margin: 0 auto 36.25px auto;
    border: none;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .header {
        max-width: 700px;
    }
}

@media screen and (max-width:767px) and (min-width:100px) {
    .header {
        margin: 0 0 38.25px 0;
        height: 56px;
    }
}