.profile__info {
    display: flex;
    align-items: center;
}

@media screen and (max-width:767px) and (min-width:1px) {
    .profile__info {
        flex-direction: column;
        width: 282px;
    }
}